<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859467245550-gct7u1h3db22mo4au5oqalh7p33td5gt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859467245550-gct7u1h3db22mo4au5oqalh7p33td5gt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>859467245550-iicdjm8dqgishppv85srvh0la52m6e1i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXCrM9Q-3QoRAEVF_rqF8E67cjGn6tNyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>859467245550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflyers.vetappadmin</string>
	<key>PROJECT_ID</key>
	<string>vetapptn</string>
	<key>STORAGE_BUCKET</key>
	<string>vetapptn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859467245550:ios:6f6cf6ec467ac73f7190ff</string>
	<key>DATABASE_URL</key>
	<string>https://vetapptn.firebaseio.com</string>
</dict>
</plist>