<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652153280745-616jr5kl1n5bqilv645ltf14idsapt2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652153280745-616jr5kl1n5bqilv645ltf14idsapt2p</string>
	<key>API_KEY</key>
	<string>AIzaSyCs5ChiE0QsY75DPXPq3Xh1V32xyE7CnDE</string>
	<key>GCM_SENDER_ID</key>
	<string>652153280745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflyers.vetApp</string>
	<key>PROJECT_ID</key>
	<string>veternaryapptn</string>
	<key>STORAGE_BUCKET</key>
	<string>veternaryapptn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652153280745:ios:199579cfe1d3882737b878</string>
	<key>DATABASE_URL</key>
	<string>https://veternaryapptn.firebaseio.com</string>
</dict>
</plist>